html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: system-ui;
    font-size: 12px;
    height: 100%;
}

/* START not logged user */
.container {
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100%;
    background-color: #418465;
    background-image: url("/assets/img/background.jpg");
    background-size: 100%;
}

.container .panel {
    width: 300px;
    margin-right: calc(50% - 150px);
    margin-left: calc(50% - 150px);
    border: solid 1px #000;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container h1 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.container .panel div {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
}

.container .panel div label {
    width: 30%;
    text-align: right;
    margin-right: 5px;
}

.container .panel div input {
    border: solid 1px #000;
    padding: 5px;
}

.container .panel a {
    color: #418465;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    border-radius: 3px;
}

.container .panel a:hover {
    color: #fff;
    background-color: #418465;
}
/* END not logged user */


/* START logged in user */
.container-account {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container-account .header {
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #418465;
    border-bottom: solid 2px #000;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 10px;
}

.container-account .content {
    background-color: #eeeef1;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}


/* START left menu */
.container-account .content-menu {
    height: 100%;
    display: flex;
}

.container-account .content-menu .el-menu {
    width: 150px;
    border-right: solid 1px #d3d3d3;
}

.container-account .content-menu .menu-panel {
    display: flex;
    flex-direction: column;
}

.container-account .content-menu .icon-panel {
    border: 5px solid #77ac94;
    background-color: #87baa3;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.container-account .content-menu .menu-content {
    display: flex;
    height: 100%;
}
/* END left menu */

.container-account .content-body {
    width: 100%;
    display: flex;
}

.container-account .table {
    width: 100%;
    display: flex;
    margin: 12px;
    border-radius: 5px;
    border: solid 1px #d3d3d3;
    box-shadow: 1px 1px 4px #d3d3d3;
    overflow: hidden;
}

.container-account .header .title {
    font-size: 24px;
    width: 100%;
    text-align: left;
}

.container-account .header .user {
    text-wrap: nowrap;
    font-size: 14px;
}

.container-account h1 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.container-account a {
    color: #418465;
    text-decoration: none;
    display: inline-block;
    padding: 2px;
    border-radius: 3px;
}

.container-account a:hover {
    color: #fff;
    background-color: #418465;
}

.container-account .info {
    margin-top: 20px;
}

.container-account .info div {
    margin: 5px;
}

.container-account .panel {
    margin-top: 20px;
    width: 100%;
}

.container-account .panel div {
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    text-align: center;
}

.container-account .panel div label {
    width: 45%;
    text-align: right;
    margin-right: 5px;
}

.container-account .panel div ul {
    position: absolute;
    align-self: flex-end;
    color: red;
}

.container-account .panel div input {
    border: solid 1px #000;
    padding: 5px;
}

/* END logged in user */
